$color-primary: blue;
$color-navigation: #2e4052;
$color-background: #bdd9bf;
$color-links: #ffc857;
$color-heading: #ffffff;

.title {
  color: $color-heading;
}

.questionsContainer {
  border: 2px solid black;
  font-size: 22px;
}
